<h3> 1.WAP to multiply all items in a list

In [1]:
l1 = [1,2,3,4,5]
p = 1
for i in l1:
    p = p*i
print(p)

120

<h3> 2.WAP to get the largest number in a list

In [12]:
l2 = [1,9,3,7,4,6]
l2.sort()
lar = len(l2)-1
print(l2[lar])

9

<h3> 3.WAP to get the smallest number in a list

In [14]:
l3 = [1,9,2,8,3,8]
l3.sort()
print(l3[0])

1

<h3> 4.WAP to check if a list is empty or not

In [19]:
l4 = [2,45]
length = len(l4)
if length == 0:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

<h3> 5.WA python fuction that takes two list and return true if they have at lessdt one common member

In [5]:
list1 = [1,2,3,4]
list2 = [4,6,7,8]
def compare(l1,l2):
    for i in l1:
        for j in l2:
            if i == j:
                return True
    return False  
compare(list1,list2)

True

<h3> 6.WAP to print a specified list after removing 0th, 4th ,5th

In [27]:
l5 = [1,2,3,4,5,6,7,8,9]
l5.remove(1)
l5.remove(5)
l5.remove(6)

In [28]:
l5

[2, 3, 4, 7, 8, 9]

<h3> 7.WAP to concatenate two dic

In [8]:
dict1 = {1:10,2:20}
dict2 = {3:30,4:40}

dict1.update(dict2)
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40}

<h3> 8.WAP to create a tuple with different data types

In [39]:
tup1 = (1,1.2,"Ankit",True,4+6j)
print(tup1)

(1, 1.2, 'Ankit', True, (4+6j))

<h3> 9.WAP to create a tuple with numbers and print one item

In [40]:
tup2 = (1,2,3,4,5,6,7,8)
print(tup2[2])

3

# <h3> 10.WAP to convert a tuple into string

In [45]:
tup3 = (1,2,3,4,5,6)
str1 = ""
for i in tup3:
    i = str(i)
    str1 +=i
print(str1)  
type(str1)

123456

str

<h3> 11.WAP to get 4th element and 4th last elemtn from tuple

In [48]:
tup4 = (1,2,3,4,5,6,7,8,9)
print(tup4[3])
print(tup4[-4])

4
6

<h3> 13. WA function to sum all numbers in alist

In [68]:
def sum_list(s_list):
    sum_num = 0
    for i in s_list:
        sum_num += i
    return sum_num

In [69]:
sum_list([8,2,3,0,7])

20

<h3> 14. WA function to sum all numbers in alist

In [74]:
def mul_list(s_list):
    mul_num = 1
    for i in s_list:
        mul_num *= i
    return mul_num

In [75]:
mul_list([8,2,3,-1,7])

-336

<h3> 15. Calculate the sum of all numbers from 1 to given numbers

In [80]:
given = 5
sum = 0
for i in range(1,given+1):
    sum += i
print(sum)

15

<h3> 16. WAP to print a table of given number

In [81]:
num = int(input("Enter the number: "))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter the number: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

<h3> 17.Display numbers form a list using loop

In [83]:
list_n = [1,2,3,4,5,6,7,8,0]
for i in list_n:
    print(i)

1
2
3
4
5
6
7
8
0

<h3> 18. WAP to count the total number opf digits in a number

In [9]:
num_1 = int(input("Enter your number: "))
num_1 = str(num_1)
print(len(num_1))

Enter your number: 456
3

<h3>19.A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.

In [11]:
salary = int(input("Enter your salary in numbers only: "))
exp = int(input("Enter your exp years: "))

if exp > 5:
    bonus = salary+((salary*5)/100)
    print("Your bonus is Rs.",bonus,)
else:
    print("You have less than 5 years exp")

Enter your salary in numbers only: 1000
Enter your exp years: 6
Your bonus is Rs. 1050.0

<h3>20.Take values of length and breadth of a rectangle from user and check if it is square or not.

In [14]:
length = int(input("Enter the length: "))
breadth = int(input("Enter the breadth: "))

if length == breadth:
    print("It is a square")
else:
    print("It is not a square")

Enter the length: 8
Enter the breadth: 8
It is a square

<h3>21.A school has following rules for grading system:
    
a. Below 25 - F
    
b. 25 to 45 - E
    
c. 45 to 50 - D
    
d. 50 to 60 - C
    
e. 60 to 80 - B
    
f. Above 80 - A
    
Ask user to enter marks and print the corresponding grade.

In [16]:
marks = int(input("Enter your marks: "))

if marks < 25:
    print("Your grade is F")
elif marks >=25 and marks < 46:
    print("Your grade is E")
elif marks >=45 and marks < 51:
    print("Your grade is D")
elif marks >=50 and marks < 61:
    print("Your grade is C")
elif marks >=60 and marks < 81:
    print("Your grade is B")
else:
    print("Your grade is A")

Enter your marks: 88
Your grade is A

<h3> 22.Take input of age of 3 people by user and determine oldest and youngest among them.

In [8]:
m1 = int(input("Enter age of m1: "))
m2 = int(input("Enter age of m2: "))
m3 = int(input("Enter age of m3: "))

if m1 > m2 and m1 > m3:
    print(m1,"is oldest")
    if m2 > m3:
        print(m3,"is youngest")
    else:
        print(m2,"is youngest")
elif m2>m1 and m2>m3:
    print(m2,"is oldest")
    if m1 > m3:
        print(m3,"is youngest")
    else:
        print(m1,"is youngest")
else:
    print(m3,"is oldest")
    if m1 > m2:
        print(m2,"is youngest")
    else:
        print(m1,"is youngest")

Enter age of m1: 1
Enter age of m2: 4
Enter age of m3: 8
8 is oldest
1 is youngest

<h3>23.A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.

In [17]:
held_class = int(input("Enter the no. of classes held: ")) 
attend_class = int(input("Enter the no. of classes attended: ")) 

percent = attend_class/held_class*100
print("Your percentage is ",percent,"%")
if percent > 75:
    print("You are allowed to sit in exam")
else:
    print("You are not allowed to sit in exam")

Enter the no. of classes held: 300
Enter the no. of classes attended: 270
Your percentage is  90.0 %
You are allowed to sit in exam