# 1. Make a list of items entered by users

In [2]:
i1 = input("Enter your name: ")
i2 = int(input("Enter your age: "))
i3 = input("Enter your gender: ")
i4 = float(input("Enter your percentage: "))

l = [i1,i2,i3,i4]
print()
print(l)

Enter your name: Ankit Raghav
Enter your age: 24
Enter your gender: Male
Enter your percentage: 98.6

['Ankit Raghav', 24, 'Male', 98.6]

# 2. Display marks of some students & make it in sorted way

In [3]:
m1 = int(input("Enter 1st student marks: "))
m2 = int(input("Enter 2nd student marks: "))
m3 = int(input("Enter 3rd student marks: "))
m4 = int(input("Enter 4th student marks: "))

marks = [m1,m2,m3,m4]
print(marks)

marks.sort()
print(marks)

Enter 1st student marks: 45
Enter 2nd student marks: 23
Enter 3rd student marks: 89
Enter 4th student marks: 12
[45, 23, 89, 12]
[12, 23, 45, 89]

# 3. Check Tuple is mutable or not?

In [4]:
t = (3,6,2,7,"Ankit","Raghav")
print(t)
t[3] = 10
print(t)

# if data changes without error then it is a mutable and if it shows error then it is immutable

(3, 6, 2, 7, 'Ankit', 'Raghav')

TypeError: 'tuple' object does not support item assignment

# 4. Sum of numbers (max 4 no.) in a list without any loops or functions

In [5]:
n = [2,7,3,9]
sum = n[0]+n[1]+n[2]+n[3]
print(sum)

21

# 5. Count the no. of 5 in the tuple t=(5,55,555,5555,-5,-55)

In [6]:
tup=(5,55,555,5555,-5,-55)

tup.count(5)

1