# 1. Print 10 Natural no.

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2. Print sum of 1 to 10

In [3]:
sum = 0
for i in range(1,11):
    sum += i
print(sum)

55

# 3.Print table of 2.

In [8]:
num = 2
for i in range(1,11):
    print(num,"x",i,"=",num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# 4.Print 1 to -10.

In [11]:
for i in range(1,-11,-1):
    print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

# 5. Print -1 to -10.

In [12]:
for i in range(-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10